.utter_ajax_login_and_register_overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	display: none;
	cursor: default;
	z-index: 9999;
	transform: translateZ(1px);
}

#utter_login,
#utter_register,
#utter_forgotten_pass {
	background-color: #FFFFFF;
	display: none;
	width: 440px;
	top: 50%;
	position: fixed;
	margin-top: -168px;
	left: 50%;
	margin-left: -220px;
	padding: 20px;
	border-radius: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	cursor: default;
	z-index: 99999;
}

#utter_register{
	margin-top: -207px;
	z-index: 998;
}

#utter_login.hide{
	display: none;
}

#utter_register.show{
	z-index: 99999;
	display: block;
}

#utter_forgotten_pass.show{
	z-index: 999999;
	display: block;
}

#utter_login input,
#utter_register input,
#utter_forgotten_pass input{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
	display: block;
}

#utter_register input[type='checkbox']{
	margin-bottom: 0;
}

#utter_login input[type='submit'],
#utter_register input[type='submit'],
#utter_forgotten_pass input[type='submit']{
	margin-top: 20px;
}

#utter_register #terms{
	display: inline-block;
	width: auto;
}

.utter_ajax_login_and_register .login_overlay{
	height: 100%;
	width: 100%;
	background-color: #F6F6F6;
	opacity: 0.9;
	position: fixed;
	z-index: 998;
}

.utter_ajax_login_and_register .login_button{
	display: inline-block;
	color:  #0c0f0b;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	-webkit-transition: all 180ms ease-in;
	-moz-transition: all 180ms ease-in;
	-o-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

.utter_ajax_login_and_register .error_message{
	padding: 0 20px 5px;
	margin: -12px 0 6px;
	font-size: 12px;
	color: #d84949;
}

#utter_login .forgotten_box .utter_register{
	display: block;
}

@media only screen and (max-width: 480px) {

	#utter_login,
	#utter_register,
	#utter_forgotten_pass{
		width: 94%;
		margin-left: -47%;
	}

	#utter_register{
		margin-top: -220px;
	}

}
